<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ln.evalmodel.dao.EvalModelMapper">

    <select id="getList" resultType="com.ln.evalmodel.model.vo.ListModelResp">
        select em.id,em.name,em.create_time from  eval_model em where 1=1
        <if test="req.name != null and req.name !=''">
            em.id = #{req.name}
        </if>
        order by em.create_time desc
    </select>
</mapper>